# Python-spezifische Ignorierungen
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.whl

# Puppeteer
node_modules/
package-lock.json
package.json

# Virtuelle Umgebung
.venv/
.env

# VS Code-Einstellungen
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Flask-spezifische Ignorierungen
instance/
*.log
*.sqlite
database.db

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db
*.swp

# Sensible Dateien
*.env
*.secret
*.key
*.pem
*.bin

# Verarbeitete Bilddateien
*.jpg
*.jpeg
*.png
!.screenshots/*.png
!Vorschau/html-visuals/assets/*
!Vorschau/insta-visuals/assets/*

# QR-Code-Dateien
static/qr_codes/*
!static/qr_codes/.keep

# Projekt-spezifische Ignorierungen
data/*
!data/test.csv
!data/yacht.jpg
config/keys/*
!config/keys/.keep
config/licenses/*
!config/licenses/.keep

*.txt
doc/
docs/
insta-visuals/
generate-insta-screenshots.js
1080x1080-screenshots/
1080x1080-visuals/
1080x1920-screenshots/
1080x1920-visuals
generate-1080x1080-screenshots.js
generate-1080x1920-screenshots.js