# Python-spezifische Ignorierungen
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.whl

# Virtuelle Umgebung
.venv/
.env

# VS Code-Einstellungen
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Flask-spezifische Ignorierungen
instance/
*.log
*.sqlite
database.db

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db
*.swp

# Sensible Dateien
*.env
*.secret
*.key
*.pem
*.bin

# Verarbeitete Bilddateien
*.jpg
*.jpeg
*.png

# QR-Code-Dateien
static/qr_codes/*
!static/qr_codes/.keep

# Projekt-spezifische Ignorierungen
doc/
data/*
!data/test.csv
!data/yacht.jpg
config/keys/*
!config/keys/.keep
config/licenses/*
!config/licenses/.keep